#module-moneytigo-payment #center_column
{
	width:757px;
}

 p.payment_module a.moneytigo-logo-link {
background-color: #fbfbfb;
 
}

p.payment_module a.moneytigo-logo-link:after {
    display: block;
    content: "\f054";
    position: absolute;
    right: 15px;
    margin-top: -11px;
    top: 50%;
    font-family: "FontAwesome";
    font-size: 25px;
    height: 22px;
    width: 14px;
    color: #777;
}

p.payment_module a.moneytigo-logo-link:hover {
    background-color: #C4F0B5;
}

.label_return_pending
{
	font-size: 25px;
	font-weight: bold;
	color: #3B3B3A;
	border-style: solid;
	border-width: 8px;
	border-color: #F39217;
	background-color: #F39217;
}

.label_return_authorised
{
	font-size: 25px;
	font-weight: bold;
	color: #3B3B3A;
	border-style: solid;
	border-width: 8px;
	border-color: #96CA2D;
	background-color: #96CA2D;
}